{# Author: Piotr Nikiel, <piotr@nikiel.info> #}
{# Author: Paris Moschovakos, <paris.moschovakos@cern.ch> #}
{# Date: Feb 2019, original version in XSLT  #}
{#       May 2020, rework to Jinja2          #}


// generated using Cacophony, an optional module of quasar, see: https://github.com/quasar-team/Cacophony

{% for class_name in designInspector.get_names_of_all_classes() %}
{% set cls = designInspector.objectify_class(class_name) %}

//{{cls.get('name')}}
bool {{functionPrefix}}createDpt{{cls.get('name')}}()
{
  // the names of vars and the way of generating DPT come directly from examples of dpTypeChange
  dyn_dyn_string xxdepes;
  dyn_dyn_int xxdepei;
  dynAppend(xxdepes, makeDynString("{{typePrefix}}{{cls.get('name')}}", ""));
  dynAppend(xxdepei, makeDynInt(DPEL_STRUCT));
  {% for cv in cls.cachevariable %}
    {% if cv.array|length>0 %}
      dynAppend(xxdepes, makeDynString("", "{{cv.get('name')}}"));
      dynAppend(xxdepei, makeDynInt(0, {{mapper(cv.get('dataType'), class_name, cv.get('name'), False)}})); 
    {% else %} {# scalar #}
      dynAppend(xxdepes, makeDynString("", "{{cv.get('name')}}"));
      dynAppend(xxdepei, makeDynInt(0, {{mapper(cv.get('dataType'), class_name, cv.get('name'))}})); 
    {% endif %}
  {% endfor %}
  
  {% for sv in cls.sourcevariable %}
    {% if sv.array|length>0 %}
      {{debug("WARNING: Skipping array source-variable. There is no support for source variable arrays in Cacophony yet.",
         "You can request it from Piotr.")}}
    {% else %} {# scalar #}
      dynAppend(xxdepes, makeDynString("", "{{sv.get('name')}}"));
      dynAppend(xxdepei, makeDynInt(0, {{mapper(sv.get('dataType'), class_name, sv.get('name'))}}));
    {% endif %}
  {% endfor %}
  
  {% if cls.method|length>0 %}
    {{debug("WARNING: Class has method(s) but there is no method support in WinCC OA, skipping! (at class:", class_name, ")")}}
  {% endif %}

  int status = dpTypeChange(xxdepes, xxdepei);
  DebugN("{{functionPrefix}}createDpt{{cls.get('name')}}: completed, dpTypeChange returned status ["+status+"]");
  return status == 0;
}

{# Create separate DPTs for each calculated variable profile #}
{% set cv_profiles = (configInspector.get_cv_profiles_for_class(class_name) if configInspector else {}) %}
{% if cv_profiles %}
  {% for profile_id, profile_data in cv_profiles.items() %}

//{{cls.get('name')}}_CV{{profile_id}} - Calculated Variables Profile DPT
// Profile contains: {{', '.join(profile_data['cv_names'])}}
// Used by {{profile_data['instance_count']}} instance(s): {{', '.join(profile_data['instance_names'][:3])}}{% if profile_data['instance_count'] > 3 %}, ...{% endif %}

bool {{functionPrefix}}createDpt{{cls.get('name')}}_CV{{profile_id}}()
{
  dyn_dyn_string xxdepes;
  dyn_dyn_int xxdepei;
  dynAppend(xxdepes, makeDynString("{{typePrefix}}{{cls.get('name')}}_CV{{profile_id}}", ""));
  dynAppend(xxdepei, makeDynInt(DPEL_STRUCT));

  {% for cv_name in profile_data['cv_names'] %}
    dynAppend(xxdepes, makeDynString("", "{{cv_name}}"));
    {% if profile_data['cv_info'][cv_name]['isBoolean'] %}
    dynAppend(xxdepei, makeDynInt(0, DPEL_BOOL)); // Calculated variable (Boolean)
    {% else %}
    dynAppend(xxdepei, makeDynInt(0, DPEL_FLOAT)); // Calculated variable (Double)
    {% endif %}
  {% endfor %}

  int status = dpTypeChange(xxdepes, xxdepei);
  DebugN("{{functionPrefix}}createDpt{{cls.get('name')}}_CV{{profile_id}}: completed, dpTypeChange returned status ["+status+"]");
  return status == 0;
}
  {% endfor %}
{% endif %}
{% endfor %}

int {{functionPrefix}}createDpts (string dptFilter=".*")
{
  {% for class_name in designInspector.get_names_of_all_classes() %}
    {% set cls = designInspector.objectify_class(class_name) %}
    {
      int result = regexpIndex(dptFilter, "{{cls.get('name')}}");
      DebugN("createDpts: processing class {{class_name}} regexpIndex returned ["+result+"]");
      if (result >= 0)
      {
        DebugN("createDpts: creating DPT for class {{class_name}}");
        if (!{{functionPrefix}}createDpt{{cls.get('name')}}())
        return 1;

        {# Create CV profile DPTs #}
        {% set cv_profiles = (configInspector.get_cv_profiles_for_class(class_name) if configInspector else {}) %}
        {% if cv_profiles %}
          {% for profile_id, profile_data in cv_profiles.items() %}
        DebugN("createDpts: creating CV profile DPT {{cls.get('name')}}_CV{{profile_id}}");
        if (!{{functionPrefix}}createDpt{{cls.get('name')}}_CV{{profile_id}}())
          return 1;
          {% endfor %}
        {% endif %}
      }
      else
      {
        DebugN("DPT {{cls.get('name')}} not covered by provided dptFilter, skipping");
      }
    }
  {% endfor %}
    return 0;
}
